.customTooltip * {
    color: #4a4a4a;
    font-size: 2.7rem;
}

.customTooltip .introjs-tooltip-title {
    color: #0a41c9;
}

.customTooltip a.introjs-button.introjs-nextbutton {
    background-color: red;
    background-image: none;
    text-shadow: none;
    color: var(--word);
}

.introjs-tooltipReferenceLayer {
    width: 4% !important;
    height: 10% !important;
    top: 30% !important;
    left: 45% !important;
}

.customTooltip .introjs-tooltiptext {
    font-size: 2.7rem;
}

.introjs-tooltip {
    background-color: var(--highlight);
}

.introjs-helperLayer {
    background: transparent;
}