.customTooltip * {
    color: #4a4a4a;
    font-size: 2.7rem;
}

.customTooltip .introjs-tooltip-title {
    color: #0a41c9;
}

.customTooltip a.introjs-button.introjs-nextbutton {
    background-color: red;
    background-image: none;
    text-shadow: none;
    color: var(--word);
}

.introjs-tooltipReferenceLayer {
    /* width: 4% !important;
    height: 10% !important; */
    /* top: 10% !important; */
    /* left: 30% !important; */ 
}

.customTooltip, .introjs-tooltiptext {
    font-size: 2.7rem;
}

.introjs-tooltip {
    background-color: var(--highlight);
}

.introjs-helperLayer {
    background: transparent;
}

a.menu_links { cursor: pointer; }

.introVideo {
    width:26rem;
}
